
@{
    ViewData["Title"] = "Add";

}
@{
    var a = 5;
    <text>Merhaba Dünya</text>}
<h1>Ürün ekleme</h1>

<form asp-controller="products" asp-action="AddProduct">
    <label>Ürün İsmi :</label>
    <input type="text" name="Name"/>
    <br />
    <label>Ürün Fiyatı :</label>
    <input type="text" name="Price"/>
    <br />
    <label>Ürün Stoğu :</label>
    <input type="text" name="Stock" />
    <br />
    <label>Ürün Rengi :</label>
    <input type="text" name="Color" />

    <button type="submit">Ürünü kaydet</button>

</form>

